@tailwind base;
@tailwind components;
@tailwind utilities;

.sign-in-box {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 5rem;
}

.user-input {
  display: block;
  margin: 2.5rem auto;
}

.user-input-button {
  margin-top: 1rem;
}

.save-flashcards-btn {
  display: block;
  margin: 2.2rem auto;
}
